*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;    
}

/* Menu */
.menu ul {
    list-style-type: none;
    background-color: #d5b0ac;
    text-align: center;
}

.menu ul li {
    color: #ffffff;
    display: inline-table;
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;   
}

.menu ul li a:hover {
    background-color:  #9cd08f;
    color: #ffffff;
}

.menu ul li > .sub-menu {
    display: none;
    position: absolute;
}

.menu ul li:hover .sub-menu {
    display: block;
}

.sub-menu2 {
    position: absolute;
    left: 200px;
    top: 0;
    display: none;
}

.menu ul li ul li:hover .sub-menu2 {
    display: block;
}
