*{
    margin:0; 
    padding: 0;
}

#container ul{
    list-style: none;
}

#container ul li {
    background-color: #d5b0ac;
    width: 150px;
    border: 1px solid white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    color: white;
    font-size: 18px;
    position: relative;
}

#container ul li:hover {
    background-color: #9cd08f;
}

#container ul ul {
    display: none;
}

#container ul li:hover > ul {
    display: block;
}

#container ul ul ul {
    margin-left: 151px;
    top: -1px;
    position: absolute;
}